
*{box-sizing: border-box;}
body{
    margin: 0;
}
header, nav, main, footer{margin: auto; padding: 25px;}
header{
    background-color: #f00;
    min-height: 200px;
    width: 950px;
}
nav{
    background-color: #0f0;
    min-height: 25px;
    width: 950px;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {display: inline;}
main{
    background-color: #00f;
    min-height: 300px;
      width: 950px;
}
footer{
    background-color: #ff0;
    min-height: 150px;
    width: 950px;
}